html {
  cursor: none;
}

.box {
    position: absolute;
    width: 8px;
    height: 8px;
    // top: 50%;
    // left: 50%;
    margin: -4px 0 0 -4px;
    background: rgba(56, 254, 238, 1);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    opacity: 1;
    cursor: none;
    z-index: 1000;
    pointer-events: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    will-change: transform;
}
*, ::after, ::before {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

.box.hover {
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -15px;
    background: transparent;
    border: 2px solid rgba(56, 254, 238, .3);
}

.link {
    cursor: none;
}